# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Nodejs CI

on:
  push:
    branches: [ "master" ]  

jobs:
  build:

    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [12.22]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm install
    - run: npm run build --if-present
    - run: cp -r /home/administrador/actions-runner/_work/ejemplotareasfrontend/ejemplotareasfrontend/dist/ /home/administrador/frontend
